.main__navbar {
  width: 60px;
  height: 400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightgrey;
  position: absolute;
  top: -31px;
  left: -101px;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
}
