.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__center {
    width: 70%;
    height: auto;
    text-align: justify;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    &__title {
        position: relative;
        height: 35px;
    }
    &__title:after{
        content:"";
        position:absolute;
        left:0;
        bottom:0;
        width: 60px;
        margin:auto;
        background:rgb(53,123,229);
        height:3px;
        padding-top: -30px;
      }
    }