.educationItem {
  padding-bottom: 20px;
  &__title {
    margin: 5px;
  }
  &__center {
    color: rgb(175, 172, 172);
    margin: 5px;
  }
  &__desc {
    color: rgb(56, 56, 56);
    margin-top: 5px;
  }
}
