@import "./../../responsive.scss";
.jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  @include tablet {
    padding: 30px;
  }
  &__center {
    width: 70%;
    height: auto;
    text-align: justify;
  }
  &__title {
    position: relative;
    height: 35px;
  }
  &__title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    margin: auto;
    background: rgb(53, 123, 229);
    height: 3px;
    padding-top: -30px;
  }
  &__list {
    list-style: none;
  }
  &__form {
    text-align: center;
  }
  &__button {
    background-color: rgb(53, 123, 229);
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
  }
}
.job {
  padding-bottom: 20px;
  &__title {
    margin: 5px;
  }
  &__company {
    color: rgb(175, 172, 172);
    margin: 5px;
  }
  &__desc {
    color: rgb(56, 56, 56);
    margin-top: 5px;
  }
}
