@import "../../responsive.scss";

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    height: 400px;
  }
  
  &__left {
    width: 100%;
    height: auto;
    padding-top: 20px;
    @include tablet {
      width: 45%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablet {
      width: 60%;
      height: 100%;

      align-items: flex-start;
      justify-content: center;
      padding-left: 50px;
    }
    div {
      width: 75%;
      text-align: justify;
      font-family: "Open Sans", sans-serif;
    }
    &-title {
      color: white;
      margin: 5px;
      width: 215px;
      text-align: center;
      font-weight: bold;
      padding: 3px;
      background: rgb(53, 123, 229);
    }
    &-name {
      font-size: 24px;
      margin: 5px;
      font-weight: bold;
      @include tablet {
        font-size: 40px;
        margin: 5px;
        font-weight: bold;
      }
    }
    &-info {
      color: rgb(56, 56, 56);
      font-weight: lighter;
      margin: 5px;
    }
  }

  &__img {
    border: 5px solid white;
    border-radius: 200px;
    width: 130px;
    height: auto;
    box-shadow: 0px 0px 2px 2px rgba(233, 230, 230, 0.8);
    @include tablet {
      width: 250px;
      border: 11px solid white;
      box-shadow: 0px 0px 5px 5px rgba(233, 230, 230, 0.8);
    }
  }
  
}
