.opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__center {
    width: 70%;
    height: auto;
    text-align: justify;
  }
    &__title {
        position: relative;
        height: 35px;
      }
      &__title:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        margin: auto;
        background: rgb(53, 123, 229);
        height: 3px;
        padding-top: -30px;
      }
      &__list {
        list-style: none;
      }
      &__desc {
        color: rgb(56, 56, 56);
        margin-top: 5px;
      }
      &__number {
        &__title {
            margin: 5px;
          }
      }
      &__form {
        text-align: center;
      }
      &__button {
        background-color: rgb(53, 123, 229);
        border: none;
        border-radius: 20px;
        padding: 5px;
        color: white;
      }
}
