.register-form {
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    
    &__center {
        width: 30%;
        height: 400px;
        border-radius: 20px;
        background-color: white;
    }
    &__button {
        margin-top: 16px;
        padding-bottom: 10px;
    }

    &__error {
        color: red;
        font-weight: bold;
        margin-top: 16px;
    }
    p {
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
