.nav {
  display: flex;
  min-width: 1050px;
  justify-content: space-between;
  padding: 8px 16px;
  h4 {
    color: white;
  }

  &__text {
    margin-right: 16px;
  }
  &__button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    button {
      padding: 12px;
      background: transparent;
      border-radius: 8px;
      border: none;
      color: black;
      margin-right: 15px;
      background-color: rgb(53,123,229);
    }
    a {
        text-decoration: none;
        color: white;
    }
  }
  &__user {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      padding: 12px;
      background: transparent;
      border-radius: 8px;
      border: none;
      color: white;
      margin-right: 15px;
      background-color: rgb(53,123,229);
      margin-left: 10px;
    }
  }
}
