@import "./responsive.scss";

.App {
  width: 100%;
  min-height: 600px;
  background-color: rgb(29,31,30);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding: 0;
    padding-bottom: 40px;
  }
  &__container {
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
    @include tablet {
      width: 94%;
      height: auto;
    }
    @include desktop {
      max-width: 1050px;
    }
  }
}
