$layout_bp_mobile: 576px;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 992px;

// SCSS Mixins

@mixin mobile {
  @media only screen and (min-width: #{$layout_bp_mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$layout_bp_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$layout_bp_desktop}) {
    @content;
  }
}
