.form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    &__info {
      font-weight: bold;
    }
    &__button {
      background-color: rgb(53, 123, 229);
      border: none;
      border-radius: 20px;
      padding: 5px;
      color: white;
    }
    &__container {
      padding: 10px;
      text-align: center;
    }
    .textarea {
      resize: "vertical";
      max-width: 250px;
      max-height: 100px;
    }
  }
  